<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>
<div class="table-responsive">
<table class ="table">
  <thead>
    <tr>
      <th>User name </th>
      <th> email </th>
      <th> last_sign_in_at </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <td><%= (user.last_sign_in_at).strftime('%a, %d %b %Y %H:%M:%S')%></td>
        <!-- <td><%= (user.created_at).strftime('%a, %d %b %Y %H:%M:%S') %></td> -->
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New User', new_user_path %>
