<p id="notice"><%= notice %></p>
<strong>
  <p>
    User name:</strong><%= @user.user_name %>
  </p>

<strong>
  <p>
    Email:</strong><%= @user.email %>
  </p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
