<!DOCTYPE html>
<html>
<head>
  <title>EffoneChatapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id ="navbar">
<%= render "layouts/nav" %>
</div>
<div id ="form_content">

<%= yield %>
</div>

</body>
</html>
